INSPIRE_AltMetric/*.xml

SpyrographAnimation/spyro.mp4

SpyrographAnimation/.ipynb_checkpoints/Spirograph3d-checkpoint.ipynb

SpyrographAnimation/.ipynb_checkpoints/SpyrographDisplayNotebook-checkpoint.ipynb

manifoldLearning/demo.py

misc/basic_animation.py

misc/doublePendSave.py

misc/double_pendulum.mp4

misc/lorentz_animation.py

misc/simple3d.py

misc/testWrite.py

misc/writer_test.mp4

manifoldLearning/similarityEmbedding.py

manifoldLearning/modified_demo.py

manifoldLearning/modifiedSimilarityEmbedding.py

manifoldLearning/.ipynb_checkpoints/GaussianInformationGeometryEmbedding-checkpoint.ipynb

manifoldLearning/checkpoint_modifiedSimilarityParabola.py

manifoldLearning/GaussianInformationGeometryEmbedding.html

SpyrographAnimation/AnimationEmbedding.ipynb

misc/.ipynb_checkpoints/george_emcee_example-checkpoint.ipynb

misc/ind-results.png

misc/ind-corner.png

misc/gp-results.png

misc/gp-corner.png

misc/data.png
